<router-outlet></router-outlet>

<!-- <div class="modal fade" id="stayLoggedInModal" tabindex="-1" aria-labelledby="stayLoggedInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stayLoggedInModalLabel">Session Expiration Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Your session will expire in {{ countdown }} seconds. Do you want to stay logged in?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="stayLoggedIn()">Stay Logged In</button>
      </div>
    </div>
  </div>
</div> -->
