<p>appraisal works!</p>
<div class="card">
  <div class="card-block">
    <div class="card-header">Appraisal</div>
    <div class="card-body">
      <form [formGroup]="appraisaladd" (ngSubmit)="onSubmit(appraisaladd)">
        <div class="card">
          <div class="card-header">Appraisal Add</div>
          <div class="card-body">
            <div class="col-md-12"> 
              <div class="offset-2">
                  <div class="row pt-2">
                    <label class="col-md-2">Application Name</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationname">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationname')?.hasError('required') && (appraisaladd.get('applicationname')?.touched || appraisaladd.get('applicationname')?.dirty)">Please Enter Name</p>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationname')?.hasError('minlength') && (appraisaladd.get('applicationname')?.touched || appraisaladd.get('applicationname')?.dirty)">Length must be 4</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Application Father Name:</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationfathername">
                  <p class="text-danger" *ngIf="appraisaladd.get('applicationfathername')?.hasError('required') && (appraisaladd.get('applicationfathername')?.touched || appraisaladd.get('applicationfathername')?.dirty)">Please Enter Father Name</p>
                  <p class="text-danger" *ngIf="appraisaladd.get('applicationfathername')?.hasError('minlength') && (appraisaladd.get('applicationfathername')?.touched || appraisaladd.get('applicationfathername')?.dirty)">Length must be 4</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Application Mother Name:</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationmothername">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationmothername')?.hasError('required') && (appraisaladd.get('applicationmothername')?.touched || appraisaladd.get('applicationmothername')?.dirty)">Please Enter Mother Name</p>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationmothername')?.hasError('minlength') && (appraisaladd.get('applicationmothername')?.touched || appraisaladd.get('applicationmothername')?.dirty)">Length must be 4</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Choose a date:</label>
                    <div class="col-md-4">                               
                       <input class="form-control col-md-5" readonly formControlName="applicationdob" matInput [matDatepicker]="applicationdob">
                  
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationdob')?.hasError('required') && (appraisaladd.get('applicationdob')?.touched || appraisaladd.get('applicationdob')?.dirty)">Please Select Date</p>
                    </div>
                    <div class="col-md-1">
                      <mat-datepicker-toggle matIconSuffix [for]="applicationdob"></mat-datepicker-toggle>
                      <mat-datepicker #applicationdob></mat-datepicker>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Application Gender:</label>
                    <div class="col-md-5">                               
                      <label class="col-md-2">
                        <input type="radio" value="M" formControlName="applicationgender"> <span> Male </span>
                      </label>
                      <label class="col-md-2">
                        <input type="radio" value="F" formControlName="applicationgender"> <span> Female </span>
                      </label>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationgender')?.hasError('required') && (appraisaladd.get('applicationgender')?.touched || appraisaladd.get('applicationgender')?.dirty)">Please Select Gender</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Application Qualification:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationqualification">
                        <option value="">Select</option>
                        <option *ngFor="let obj of applicationqualification" [ngValue]="obj.qualification">{{obj.qualification}}</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationqualification')?.hasError('required') && (appraisaladd.get('applicationqualification')?.touched || appraisaladd.get('applicationqualification')?.dirty)">Please Select Qualification</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">Application Martial Status:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationmartialstatus">
                        <option value="">Select</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationmartialstatus')?.hasError('required') && (appraisaladd.get('applicationmartialstatus')?.touched || appraisaladd.get('applicationmartialstatus')?.dirty)">Please Select Marital Status</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Mobile:</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationmobile">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationmobile')?.hasError('required') && (appraisaladd.get('applicationmobile')?.touched || appraisaladd.get('applicationmobile')?.dirty)">Please Enter Mobile</p>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationmobile')?.hasError('pattern') && (appraisaladd.get('applicationmobile')?.touched || appraisaladd.get('applicationmobile')?.dirty)">Mobile Number is not valid</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Email:</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationemail">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationemail')?.hasError('required') && (appraisaladd.get('applicationemail')?.touched || appraisaladd.get('applicationemail')?.dirty)">Please Enter Email</p>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationemail')?.hasError('pattern') && (appraisaladd.get('applicationemail')?.touched || appraisaladd.get('applicationemail')?.dirty)">Email Not Valid</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Document Types:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationdocumenttypeId" appCustomValidator>
                        <option value=0>Select</option>
                        <option *ngFor="let obj of applicationdocumenttypes" [ngValue]="obj.id">{{obj.documenttype}}</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationdocumenttypeId')?.hasError('valueinvalid') && (appraisaladd.get('applicationdocumenttypeId')?.touched || appraisaladd.get('applicationdocumenttypeId')?.dirty)">Please Select Document</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Requested Amount:</label>
                    <div class="col-md-4">                               
                      <input type="text" class="form-control" formControlName="applicationRequestedAmount">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationRequestedAmount')?.hasError('required') && (appraisaladd.get('applicationRequestedAmount')?.touched || appraisaladd.get('applicationRequestedAmount')?.dirty)">Please Enter Requested Amount</p>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationRequestedAmount')?.hasError('pattern') && (appraisaladd.get('applicationRequestedAmount')?.touched || appraisaladd.get('applicationRequestedAmount')?.dirty)">Requested Amount Not Valid</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Hobbies:</label>
                    <div class="col-md-4">                               
                      <p-listbox
                        formControlName="applicationHobbies"
                        [(ngModel)]="selectedItems"
                        [options]="hobbies"
                        [selectAll]="selectAll"
                        optionLabel="hobbietype"
                        [style]="{ width: '15rem' }"
                        [virtualScroll]="true"
                        [filter]="true"
                        [virtualScrollItemSize]="43"
                        [multiple]="true"
                        [checkbox]="true"
                        [showToggleAll]="true"
                        [metaKeySelection]="false"
                        (onSelectAllChange)="onSelectAllChange($event)"
                        (onChange)="onChange($event)"
                        [listStyle]="{ 'max-height': '220px' }">
                      </p-listbox>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationHobbies')?.hasError('required') && (appraisaladd.get('applicationHobbies')?.touched || appraisaladd.get('applicationHobbies')?.dirty)">Please Select Hobbies</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2">  Application Register Date:</label>
                    <div class="col-md-4">                               
                      <input class="form-control col-md-5" readonly formControlName="applicationRegisterdate" matInput [matDatepicker]="applicationRegisterdate">
                      <div class="col-md-1">
                        <mat-datepicker-toggle matIconSuffix [for]="applicationRegisterdate"></mat-datepicker-toggle>
                        <mat-datepicker #applicationRegisterdate></mat-datepicker>
                      </div>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationRegisterdate')?.hasError('required') && (appraisaladd.get('applicationRegisterdate')?.touched || appraisaladd.get('applicationRegisterdate')?.dirty)">Please Select Register Date</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Address:</label>
                    <div class="col-md-4">                               
                      <textarea class="form-control" formControlName="applicationAddress"></textarea>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationAddress')?.hasError('required') && (appraisaladd.get('applicationAddress')?.touched || appraisaladd.get('applicationAddress')?.dirty)">Please Enter Address</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Country:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationCountryId" appCustomValidator>
                        <option value=0>Select</option>
                        <option *ngFor="let obj of applicationCountryTypes" [ngValue]="obj.id">{{obj.name}}</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationCountryId')?.hasError('valueinvalid') && (appraisaladd.get('applicationCountryId')?.touched || appraisaladd.get('applicationCountryId')?.dirty)">Please Select Country</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application State:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationStateId" appCustomValidator>
                        <option value=0>Select</option>
                        <option *ngFor="let obj of applicationStateTypes" [ngValue]="obj.id">{{obj.name}}</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationStateId')?.hasError('valueinvalid') && (appraisaladd.get('applicationStateId')?.touched || appraisaladd.get('applicationStateId')?.dirty)">Please Select State</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application District:</label>
                    <div class="col-md-4">                               
                      <select class="form-select" formControlName="applicationDistrictId" appCustomValidator>
                        <option value=0>Select</option>
                        <option *ngFor="let obj of applicationDistrictTypes" [ngValue]="obj.id">{{obj.name}}</option>
                      </select>
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationDistrictId')?.hasError('valueinvalid') && (appraisaladd.get('applicationDistrictId')?.touched || appraisaladd.get('applicationDistrictId')?.dirty)">Please Select District</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Application Document:</label>
                    <div class="col-md-4">                               
                      <input class="form-control" type="file" accept="image/*" formControlName="documentFile" (change)="showPreview($event)" />
                      <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                        <img [src]="imageURL" class="image-responsive" [alt]="appraisaladd.value.applicationname">
                      </div>
                       <!-- Show 'View File' anchor if editing (id > 0) -->
                      <div *ngIf="appraisaladd?.value.id > 0">
                        <button type="button" (click)="viewDocument()"  class="btn btn-sm btn-outline-primary mt-2">View Uploaded Document</button>
                      </div>
                      <p class="text-danger" *ngIf="appraisaladd.get('documentFile')?.hasError('required') && (appraisaladd.get('documentFile')?.touched || appraisaladd.get('documentFile')?.dirty)">Please Upload Document</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"> Accept Terms & Conditions:</label>
                    <div class="col-md-4">                               
                      <input type="checkbox" class="form-check-input" formControlName="applicationIsAcceptedTermsandConditions">
                      <p class="text-danger" *ngIf="appraisaladd.get('applicationIsAcceptedTermsandConditions')?.hasError('required') && (appraisaladd.get('applicationIsAcceptedTermsandConditions')?.touched || appraisaladd.get('applicationIsAcceptedTermsandConditions')?.dirty)">Please Approve Terms and Conditions</p>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <label class="col-md-2"></label>
                    <div class="col-md-4">                               
                      <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  </div>
              </div>          
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
              Appraisal List
          </div>
          <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="visually-hidden">#</th>
                    <th>Name</th>
                    <th>Dob</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Country</th>
                    <th>Requested Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let app of applications; let i = index">
                    <td class="visually-hidden">{{ i + 1 }}</td>
                    <td>{{ app.applicationName }}</td>
                    <td>{{ app.applicationDob | date:'yyyy-MM-dd' }}</td>
                    <td>{{ app.applicationEmail }}</td>
                    <td>{{ app.applicationMobile }}</td>
                    <td>{{ app.applicationCountryName }}</td>
                    <td>{{ app.applicationRequestedAmount }}</td>
                    <td><button type="button" (click)="onEdit(app.id)"><i class="bi bi-pencil-fill"></i></button>
                      <button type="button" class="ms-2"><i class="bi bi-trash-fill text-danger"></i></button></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
