
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@media (max-width: 600px) {
    h1 {
        color:red;
    }
}

.applystyles * {
    height: 40px;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    flex-wrap:nowrap;
}
.size {
    top: 40px !important;
    min-height: 120px;
    overflow-y: auto;
}
li,ul {
    text-align:center;
    list-style:none;
}
.sidebar {
    position: fixed;
    top: 40px;
    width: 0px;
    z-index: 996;
    transition: all 0.5s;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 0;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
}
aside.sidebar.open {
    position: fixed;
    top: 40px;
    width: 180px;
    z-index: 996;
    transition: all 0.5s;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: pink;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 0;
}

.main {
    margin-top:40px;
    margin-left: 0px;
    bottom: 40px;
    transition: all 0.5s;
    padding: 20px 30px;
}
main.main.open {
    margin-top: 40px;
    bottom: 40px;
    margin-left: 180px;
    transition: all 0.5s;
}
#mainbody {
    position: relative;
    bottom: 50px;
    top: 10px;
}
footer {
    height: 40px;
    margin-left: 0px;
    transition: all 0.5s;
    background-color:aqua;
}
footer.open {
        height: 40px;
        margin-left: 180px;
        transition: all 0.5s;
        background-color: aqua;
}
.navbar-nav {
    width: 100%;
}

.sidebar-nav .nav-link {
    border-radius:5px;
}

.sidebar-nav .nav-link:hover{
    background-color:lightgray;
}
.sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
    color: black;
    background-color: #9ff780;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.5s;
    padding: 10px 0 10px 40px;
}

.sidebar-nav .nav-content a i {
   font-size: 14px;
   margin-right: 8px;
    line-height: 0;
     border-radius: 50%;
 }
/* to avoid spaces to sidebar elements */
.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*To rotate arrow material icon top down*/
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}
/*To rotate arrow material icon top down in 0.20seconds smoothly*/
.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

/* autocomplete*/

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    cursor: pointer;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader-overlay {
    position: fixed; /* Fix the overlay to the viewport */
    top: 0; /* Cover the top */
    left: 0; /* Cover the left */
    right: 0; /* Cover the right */
    bottom: 0; /* Cover the bottom */
    /*background: rgba(255, 255, 255, 0.8);  Semi-transparent background */
    display: flex; /* Use flexbox to center the loader */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the loader */
    height: 60px; /* Size of the loader */
    animation: spin 2s linear infinite; /* Rotate animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }